*{
    box-sizing:border-box;
}

a{
    display:block;
    text-decoration:none;
    font-style: inherit;
    font-size:inherit;
    color:inherit;
}

.container{
    max-width:1352px;
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px;
}

@media (max-width:1352){
    .container{
        width:100%;      
    }
}

.flex-box{
    display:flex;
}


